<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>  
            <li>
                <a href="/adminHome"><i class="fa fa-envelope fa-fw"></i> Home</a>
            </li>  
            <li>
                <a href="/viewStudents"><i class="fa fa-table fa-fw"></i> View Students</a>
            </li>
            <li>
                <a href="/addDrives"><i class="fa fa-edit fa-fw"></i> Add Drives</a>
            </li>
            <li>
                <a href="/viewDrives"><i class="fa fa-edit fa-fw"></i> View Drives</a>
            </li>
            <li>
                <a href="/viewEligibleStudents"><i class="fa fa-filter fa-fw"></i>View Eligible Students</a> 
            </li>
            <li>
                <a href="/admin-userProfile" ><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li>
                <a href="/video" target="_blank"><i class="fa fa-envelope fa-fw"></i> Video Conferencing</a>
            </li>  
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>